/*OVERRIDE AFTER*/
/* ------------------------------
 * -- Main Global Styling -------
 * ------------------------------ */

.\_pendo-guide\_ {
  /* -- Overarching settings for all guides -- */
}

.\_pendo-guide-container\_ {
  /* -- Guide border, shadow, background, etc. -- */
}

.\_pendo-guide-container\_ .\_pendo-guide-content\_ {
  /* -- Content area -- use for font attributes, padding, etc. */
}

/*Chrome Styling Override for H2 and H3 in Guides*/ 
h2.\_pendo-simple-text{
    font-family: Arial !important;
    font-weight: 500 !important;
    font-size: 20 !important;
    color: #1F1F1F !important;
}

h3.\_pendo-simple-text{
    font-family: Arial !important;
    font-weight: 500 !important;
    font-size: 12 !important;
    color: #5C5C5C !important;
}
/* ------------------------------
 * -- Lightbox Specific Styling -
 * ------------------------------ */

.\_pendo-guide-lb\_ {
  /* -- Overarching settings for Lightbox -- */
}

.\_pendo-guide-lb\_ .\_pendo-guide-container\_ {
  /* -- Guide border, shadow, background, etc. -- */
}

.\_pendo-guide-lb\_ .\_pendo-guide-container\_ .\_pendo-guide-content\_ {
  /* -- Content area -- use for font attributes, padding, etc. */
}

.\_pendo-backdrop\_ {
  /* The backdrop displayed behind lightboxes */
}


/* ------------------------------
 * -- Tooltip Specific Styling --
 * ------------------------------ */

.\_pendo-guide-tt\_ {
  /* Overarching settings for tooltip */
}

.\_pendo-guide-tt\_ .\_pendo-guide-container\_ {
  /* -- Guide border, shadow, background, etc. -- */
}

.\_pendo-guide-tt\_ .\_pendo-guide-container\_ .\_pendo-guide-content\_ {
  /* -- Content area -- use for font attributes, padding, etc. */
}

/* -- Pointer on the edge of the tooltip -- */
.\_pendo-guide-arrow\_ {
}

.\_pendo-guide-arrow-top\_ {
}

.\_pendo-guide-arrow-left\_ {
}

.\_pendo-guide-arrow-right\_ {
}

.\_pendo-guide-arrow-bottom\_ {
}

.\_pendo-guide-arrow-border-top\_ {
}

.\_pendo-guide-arrow-border-left\_ {
}

.\_pendo-guide-arrow-border-right\_ {
}

.\_pendo-guide-arrow-border-bottom\_ {
}


/* ------------------------------
 * -- Mobile Lightbox Styling ---
 * ------------------------------ */

.\_pendo-guide-mobile-lb\_ {
  /* Overarching settings for Mobile Lightbox */
}

.\_pendo-guide-mobile-lb\_ .\_pendo-guide-container\_ {
  /* -- Guide border, shadow, background, etc. -- */
}

.\_pendo-guide-mobile-lb\_ .\_pendo-guide-container\_ .\_pendo-guide-content\_ {
  /* -- Content area -- use for font attributes, padding, etc. */
}

/* ------------------------------
 * -- Mobile Tooltip Styling ---
 * ------------------------------ */
 .\_pendo-guide-mobile-tt\_ {
  /* Overarching settings for mobile tooltip */
}

.\_pendo-guide-mobile-tt\_ .\_pendo-guide-container\_ {
  /* -- Guide border, shadow, background, etc. -- */
}

.\_pendo-guide-mobile-tt\_ .\_pendo-guide-container\_ .\_pendo-guide-content\_ {
  /* -- Content area -- use for font attributes, padding, etc. */
}


/* ------------------------------
 * -- Launcher Styling ----------
 * ------------------------------ */

.\_pendo-launcher\_ {
  /* Overarching settings for Launcher */
}

.\_pendo-launcher\_ .\_pendo-guide-container\_ {
  /* -- Launcher border, shadow, background, etc. -- */
  /* -- (uses tooltip styles by default) -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-content\_ {
  /* -- Content area -- use for font attributes, padding, etc. */
}

.\_pendo-launcher\_ .\_pendo-launcher-header\_ {
  /* -- Launcher header area -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-header\_ img {
  /* -- Launcher header area image styles -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-header\_ .\_pendo-launcher-title\_ {
  /* -- Launcher header area text styles -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-header\_ .\_pendo-launcher-search-box\_ {
  /* -- Launcher search area (if enabled) -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-header\_ .\_pendo-launcher-search-box\_ input[type='text'] {
  /* -- Launcher search area text box -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-guide-listing\_ {
  /* -- Launcher guide listing area -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-guide-listing\_ .\_pendo-launcher-item\_ {
  /* -- An individual item in the launcher guide listing -- */
}

.\_pendo-launcher\_ .\_pendo-launcher-footer\_ {
  /* -- Launcher footer area -- */
}

.\_pendo-launcher-badge\_ {
  /* -- Styles for the launcher badge -- */
}

/* -- Styles for launcher badge orientations -- */
.\_pendo-launcher-badge-bottom-right\_ {
}

.\_pendo-launcher-badge-bottom-left\_ {
}

.\_pendo-launcher-badge-top-right\_ {
}

.\_pendo-launcher-badge-top-left\_ {
}

/* -- Styles for launcher orientations -- */
.\_pendo-launcher-bottom-right\_ {
}

.\_pendo-launcher-bottom-left\_ {
}

.\_pendo-launcher-top-right\_ {
}

.\_pendo-launcher-top-left\_ {
}

/* ------------------------------
 * -- Poll Styling --------------
 * ------------------------------ */
 
.\_pendo-guide-container\_ .\_pendo-poll\_ {
 /* -- Poll container -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ {
 /* -- Question and answer container (everything but the submit button) -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question-prompt\_ {
 /* -- Question text -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ label {
 /* -- Number Scale Poll positioning and styles for radio button text and inputs -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ select {
 /* -- Dropdown styling -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ .\_pendo-poll-npsrating-choices\_ {
 /* -- NPS Poll ratings container -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ .\_pendo-poll-npsrating-choices\_ label {
 /* -- NPS Poll individual rating - the number scale items -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ .\_pendo-poll-npsrating-choices\_ label span {
  /* -- NPS Poll individual rating - accompanying text for number scale items -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-npsreason\_ {
 /* -- NPS Poll optional user-provided explanation container -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-npsreason\_ .\_pendo-poll-question-prompt\_ {
 /* -- NPS Poll optional user-provided explanation text -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-question\_ button {
  /* -- Yes/No Poll buttons styles -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-submit\_ {
 /* -- Submit button styles -- */
}

.\_pendo-guide-container\_ .\_pendo-poll-message\_ {
 /* -- "Success message" styles -- */
}


/* ------------------------------
 * -- Additional Global Styling -
 * ------------------------------ */

.\_pendo-text-list-ordered {
overflow-x: hidden; /* Hide horizontal scrollbar */
}

.\_pendo-close-guide\_ {
  /* -- The dismiss guide button displayed in the corner of every guide -- */
}

.\_pendo-badge\_ {
  /* -- Styles for badges -- */
}


/* ------------------------------
 * -- Your Custom Classes/IDs ---
 * ------------------------------ */
.\_pendo-button {
background-image: none;
  
}
.\_pendo-resource-center-guidelist-module-title-text
{
padding: 16px 36px !important;
}
 /* -- Announcement Notifications -- */
 /* -- Core -- */

.pendo-resource-center-badge-notification-bubble{
  border-radius: 10px !important;
  height: 8px !important;
  background-color: rgb(255, 0, 0) !important;
  width: 8px !important;
  left: 14px !important;
  position: relative !important;
  top: -25px !important;

  
}

#pendo-resource-hub-icon-container .pendo-resource-center-badge-notification-bubble, #pendo-resource-hub-icon-container-popup-window .pendo-resource-center-badge-notification-bubble{
  height: 8px !important;
  width: 8px !important;
  bottom: 12px !important;
    /*before DG3
  background-color: transparent !important;
  opacity: 0% !important;*/
  /*after DG3*/
  left: 0px !important;
  top: 0px !important;
  background-color: rgb(255, 0, 0) !important;
  
}

.\_pendo-home-view-bubble{
width: 0px !important;
text-align: center !important;
height: 20px !important;
top: 58% !important;
line-height: 18px !important;
right: 30px !important;
/*font-size: 0px;*/
}
/*MINI TEAM*/
.\_pendo-home-view-bubble div{
  text-align: center !important;
  top: 1px !important;
  transform: translateX(-19px) !important;
  width: 40px !important;
  font-weight: bolder !important;
  font-size: 12px !important;
}


/* -- HHC -- */
.pendo-notification-bubble-unread-count{
line-height: 8px !important; 
width: 8px !important; 
font-size: 0px !important; 
}
.pendo-resource-center-badge-notification-bubble::before{
 display:none !important;
}


/*Insights*/

html.\_d-bare\_essentials div.MuiToolbar-root #pendo-resource-hub-icon{
position: fixed;
right: 16px
}

html.\_d-bare\_essentials div.MuiToolbar-root .pendo-resource-center-badge-notification-bubble{
left: 20px !important;
top: -33px !important;
}


/*Visualize PACMAN */
html div.MuiToolbar-root .pendo-resource-center-badge-notification-bubble{
left: 16px !important;
top: -28px !important;
}

/*Visualize PACMAN Connect Me Subtitle*/
html div.MuiToolbar-root #pendo-text-6044f4eb-10{
visibility: hidden !important;
position: relative !important;
}
html div.MuiToolbar-root #pendo-text-6044f4eb-10:after {
    visibility: visible !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    content: "Customer Collective Online Community"!important;
}

/*Nutman*/
html div.z-page #pendo-resource-hub-icon-container .pendo-resource-center-badge-notification-bubble{
height: 7px !important;
width: 7px !important;
left: 17px !important;
top: 0px !important;
position: absolute !important;
}

#pendo-resource-hub-icon-container-popup-window .pendo-resource-center-badge-notification-bubble{
  display: none !important;
}


/*SSE*/
html body.chakra-ui-light div.MuiToolbar-root .pendo-resource-center-badge-notification-bubble {
left: -9px !important;
top: -7px !important;
display: none !important;
}


html body.chakra-ui-light div.pendo-unread-announcement-mini-bubble{
display: none !important;
}

html body.chakra-ui-light pendo-notification-bubble-unread-count{
display: none !important;
opacity: 0 !important;
}

/*IAM*/
div.v-application .pendo-resource-center-badge-notification-bubble{
  left: -15px !important;
  top: -8px !important;
}


html body.chakra-ui-light div.MuiToolbar-root pendo-resource-center-badge-notification-bubble {
display: none !important;
opacity: 0 !important;
}

html body.chakra-ui-light .pendo-notification-bubble-unread-count{
display: none !important;
opacity: 0 !important;
}

html body.chakra-ui-light .pendo-resource-center-badge-notification-bubble{
display: none !important;
}

/*Pharmacy and Wellness and Practitioner Workspace EMMA AND CHRIS AT WORK*/
html .js-focus-visible #root .App .pendo-resource-center-badge-notification-bubble {
    left: 0px !important;
}


/*SSE&SFE Support Me KEEP HERE*/
html body.chakra-ui-light #pendo-list-item-9557b677-1 {
display: none !important;
}
/*SSE&SFE Connect Me KEEP HERE*/
html body.chakra-ui-light #pendo-list-item-9557b677-10 {
display: none !important;
}
/*SSE&SFE Help Me Internal KEEP HERE*/
html body.chakra-ui-light #pendo-list-item-9557b677-11 {
display: none !important;
}




-------------------------

