#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA {
  /* Support Links!!*/
  /* Support Links!!*/
  /* Support Links!!*/
  /*link statuses*/
  /* unvisited link Grey*/
  /* visited link Grey*/
  /* mouse over link Green*/
  /* selected link - Green*/
  /* Style the Footer */
  /* Footer container */
  /* Footer */
  /*Scroll-bar*/
  /*.footerApplied{
    overflow:hidden;
} -- Emma Test*/
  /* Footer Content */
  /* Font Colors and Formatting */
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ol._pendo-text-list-ordered {
  border-color: #dadce5;
  border-style: solid;
  border-width: 1px 0 0;
  float: none;
  height: 330px;
  /*Temp changed from 352 on Jan 13 '22*/
  list-style-position: inherit;
  margin: 0;
  overflow: visible;
  /*Emma Note - Change from hidden auto*/
  padding: 16px 16px 0;
  vertical-align: baseline;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA #_pendo-resource-center-custom-module-helpme {
  height: 330px;
  /*Temp added new on Jan 13 '22'*/
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ol._pendo-text-list-ordered li {
  border: 0 solid #fff;
  float: none;
  list-style-type: none;
  list-style-position: inside;
  margin-bottom: -10px;
  margin-left: 0;
  padding: 0 0 24px;
  position: relative;
  vertical-align: baseline;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ol._pendo-text-list-ordered li a {
  color: #05576F;
  display: inline;
  float: none;
  font-size: inherit;
  font-weight: 400;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: inherit;
  text-decoration: none;
  text-transform: inherit;
  vertical-align: baseline;
  text-decoration: underline;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ol._pendo-text-list-ordered li a:hover {
  color: #05576F;
  font-weight: 500;
  text-decoration: underline;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ol._pendo-text-list-ordered li a div {
  color: #05576F;
  display: block;
  float: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  width: auto;
  text-decoration: underline;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ol._pendo-text-list-ordered li a:hover div {
  font-weight: 600;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA #_pendo-search-topics {
  background-color: #fff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHlsZT0iIj48cmVjdCBpZD0iYmFja2dyb3VuZHJlY3QiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHg9IjAiIHk9IjAiIGZpbGw9Im5vbmUiIHN0cm9rZT0ibm9uZSIvPjxnIGNsYXNzPSJjdXJyZW50TGF5ZXIiIHN0eWxlPSIiPjx0aXRsZT5MYXllciAxPC90aXRsZT48Y2lyY2xlIGN4PSIxMSIgY3k9IjExIiByPSI4IiBpZD0ic3ZnXzEiIGNsYXNzPSIiIHN0cm9rZT0iI2JhYmNjNSIgc3Ryb2tlLW9wYWNpdHk9IjEiLz48bGluZSB4MT0iMjEiIHkxPSIyMSIgeDI9IjE2LjY0OTk5OTYxODUzMDI3MyIgeTI9IjE2LjY0OTk5OTYxODUzMDI3MyIgaWQ9InN2Z18yIiBjbGFzcz0iIiBzdHJva2U9IiNiYWJjYzUiIHN0cm9rZS1vcGFjaXR5PSIxIi8+PC9nPjwvc3ZnPg==");
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 15px;
  border: 1px solid #dadce5;
  border-radius: 3px;
  color: #000;
  display: block;
  float: none;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0;
  line-height: 1.4;
  margin-bottom: 24px;
  text-indent: 26px;
  width: 100%;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ._pendo-no-matches-container ._pendo-no-match-heading {
  color: #000000;
  display: block;
  float: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0;
  overflow-wrap: break-word;
  padding: 24px 0 0;
  position: relative;
  text-align: center;
  text-transform: none;
  white-space: pre-wrap;
  width: auto;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA ._pendo-no-matches-container ._pendo-no-match-notes {
  color: #6a6c75;
  display: block;
  float: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0 43px;
  overflow-wrap: break-word;
  padding: 18px 0 0;
  position: relative;
  text-align: center;
  text-transform: none;
  white-space: pre-wrap;
  width: auto;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA a:link {
  color: #05576F;
  font: Arial;
  text-decoration: underline;
  font-weight: 400;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA a:visited {
  color: #05576F;
  font: Arial;
  text-decoration: underline;
  font-weight: 400;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA a:hover {
  color: #05576F;
  font: Arial;
  text-decoration: underline;
  font-weight: 600;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA a:active {
  color: #05576F;
  font: Arial;
  text-decoration: underline;
  font-weight: 500;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA #_pendo-resource-center-custom-module-helpme.footerApplied {
  margin-bottom: 0px;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA div#RHfooterContainer {
  height: 44px;
  position: absolute;
  bottom: 0;
  border-top: 2.5px solid #DADCE5;
  color: #97cc04;
  background-color: #ffffff;
  width: 335px;
  /*Temp changed from 316 - Jan 13, '23'*/
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA div#temp .footerApplied {
  overflow-y: hidden !important;
  overflow: hidden;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA #_pendo-resource-center-sandbox-module-code-container .element.style {
  overflow: visible !important;
}
#pendo-g-0Mm1KtAYO_-NPwvD08MPIKbKJvA div.RHfooter p {
  margin-top: 14px;
  color: #606060;
  font-size: 14px;
  text-align: center;
}
