dialog.pccOverlay[open]{
    opacity:1;
}
dialog.pccOverlay{
    background-color:#fff;
    border:0;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    color:#000;
    font-family:Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    opacity:0;
    transition:opacity 0.7s ease-out
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
    max-height:80vh;
    max-width:80vw;
}
dialog.pccOverlay h3{
    color:rgba(0, 0, 0, 0.87);
    font-size:20px;
    font-weight:500;
    letter-spacing:0.009375rem;
    margin:0;
    padding:0 0 8px 0;
}
dialog.pccOverlay div.dialogBody{
    padding:8px 0;
}
dialog.pccOverlay div.actionButtonRow{
    min-height:40px;
    padding:8px 8px 0 8px;
    text-align:right;
}
dialog.pccOverlay div.actionButtonRow button{
    background-color:#05576f;
    background-image:none;
    border:none;
    border-radius:4px;
    box-shadow:0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    color:#fff;
    cursor:pointer;
    font-size:14px;
    font-weight:500 !important;
    height:36px;
    letter-spacing:1.25px;
    line-height:16px;
    margin:6px 8px 6px 8px;
    max-width:180px;
    min-width:88px;
    outline:none;
    overflow:hidden;
    padding:6px 16px 6px 16px;
    position:relative;
    text-align:center;
    text-shadow:none;
    text-transform:uppercase;
    transition:opacity .2s cubic-bezier(.4,0,.6,1);
    user-select:none;
    will-change:box-shadow;
}
dialog.pccOverlay div.actionButtonRow button:before{
    background-color:rgba(236,240,241,.3);
    border-radius:100%;
    content:"";
    display:block;
    left:50%;
    padding-top:0;
    position:absolute;
    top:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:0;
}
dialog.pccOverlay div.actionButtonRow button:active{
    background-color:rgba(35, 107, 128, 1);
}
dialog.pccOverlay div.actionButtonRow button:active:before{
    padding-top:120%;
    transition:width .2s ease-out,padding-top .2s ease-out;
    width:120%;
}
dialog.pccOverlay div.actionButtonRow button::after{
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
}

dialog.pccOverlay div.actionButtonRow button:hover{
    background-color:rgba(23, 99, 121, 1);
    box-shadow:0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

dialog.pccOverlay div.actionButtonRow button:hover::before,
dialog.pccOverlay div.actionButtonRow button:focus::before{
    opacity:.08;
}
dialog.pccOverlay div.actionButtonRow button:focus{
    opacity:.76;
}
dialog.pccOverlay div.actionButtonRow button.secondary{
    background-color:transparent;
    border:1px solid rgba(0, 0, 0, 0.12);
    box-shadow:none;
    color:rgba(5, 87, 111, 1);
}
dialog.pccOverlay div.actionButtonRow button.secondary:hover{
    background-color:rgba(245, 245, 245, 1);
    border-color:rgba(0, 0, 0, 0.24);
    color:rgba(5, 87, 111, 1);
}
dialog.pccOverlay div.actionButtonRow button.secondary:focus{
    background-color:rgba(179, 227, 231, 0.6);
    border:1px solid rgba(0, 0, 0, 0.24);
    color:rgba(5, 87, 111, 1);
}
dialog.pccOverlay div.actionButtonRow button.secondary:active{
    background-color:rgba(179, 227, 231, 0.6);
    border:1px solid rgba(0, 160, 175, 0.5);
    color:rgba(5, 87, 111, 1);
}
dialog.pccOverlay div.actionButtonRow span.ripple{
    animation:ripple 600ms linear;
    background-color:rgba(255,255,255,0.7);
    border-radius:50%;
    position:absolute;
    transform:scale(0);
}
@keyframes ripple{
    to{
        opacity:0;
        transform:scale(4);
    }
}