#telemedMessagingModal {
    z-index: 9999;
}
#telemedMessagingModal .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

#telemedMessagingModal .whitebg {
    background: white !important;
}
#telemedMessagingModal .tmheaderlbl {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: 'Open Sans', 'Segoe UI Symbol', sans serif;
}
#telemedMessagingModal .tmgraylbl {
    font-family: 'Open Sans', 'Segoe UI Symbol', sans serif;
    font-size: 11px;
    color: #989898;
}

#telemedMessagingModal .tmredlbl {
    font-family: 'Open Sans', 'Segoe UI Symbol', sans serif;
    font-size: 11px;
    color: green;
}

#telemedMessagingModal .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

#telemedMessagingModal .time_date.status-green {
    color: #28a745;
    font-weight: 600;
}

#telemedMessagingModal .time_date.status-red {
    color: #dc3545;
    font-weight: 600;
}

#telemedMessagingModal .mesgs {
    float: left;
    padding: 10px 10px 0 10px;
    width: 100%;
    overflow-y: auto;
    height: 400px;
    background-color: white;
}

#telemedMessagingModal .msg_history {
    height: 380px;
}

#telemedMessagingModal .sent_msg span {
    background: #2b91d9 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
}

#telemedMessagingModal .outgoing_msg {
    /*overflow: hidden;*/
    margin: 10px 0 10px;
}

#telemedMessagingModal .sent_msg {
    padding: 0;
    word-break: break-word;
}

#telemedMessagingModal .sent_msg_time {
    padding: 0;
    height: 40px;
}
#telemedMessagingModal .msg_write_tmfooter  {
    background: white !important;
}
#telemedMessagingModal .input_msg_write input {
    border: none;
    color: #4c4c4c;
    font-size: 15px;
    height: 40px;
    width: 90%;
    background: #f5f5f4;
    border-radius: 10px;
    margin-left: 0px;
    float: left;
    padding: 5px;
}
#telemedMessagingModal .input_msg_write input[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
}

#telemedMessagingModal .type_msg {
    position: relative;
    min-height: 48px;
}

#telemedMessagingModal .msg_send_btn {
    background: #2b91d9;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-right: 7px;
}
#telemedMessagingModal .msg_send_btn[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
}

#telemedMessagingModal .msg_send_bottom_lbl {
    color: #989898;
    padding-left: 5px;
    width: 90%;
}

#telemedMessagingModal .online-icon {
    height: 10px; width: 10px; background-color: #28a745; border-radius: 50%; display: inline-block;
}

#telemedMessagingModal .offline-icon {
    height: 10px; width: 10px;  background-color: #999; border-radius: 50%; display: inline-block;
}


    /* for new multi massaging*/

#telemedMessagingModal .inbox_people {
    float: left;
    overflow: hidden;
    width: 100%;
    border-right: 1px solid #e5e5e5;
}

#telemedMessagingModal .chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

#telemedMessagingModal .chat_ib h5 span {
    font-size: 13px;
    float: right;
}

#telemedMessagingModal .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

#telemedMessagingModal .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

#telemedMessagingModal .chat_people {
    overflow: hidden;
    clear: both;
}

#telemedMessagingModal .chat_list {
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    padding: 5px;
}

#telemedMessagingModal .inbox_chat {
    height: 400px;
    overflow-y: auto;
}

#telemedMessagingModal .active_chat {
    background: #ebebeb;
}

#telemedMessagingModal .tm-top-loader {
    position: relative;
    width: 100%;
}

#telemedMessagingModal .tm-left-panel {
    display: none;
    float: left;
    width: 40%;
    height: 400px;
}

#telemedMessagingModal .tm-left-panel.active {
    display: inline-block;
}

#telemedMessagingModal .tm-right-panel {
    display: inline-block;
    width: 100%;
    height: 400px;
}

#telemedMessagingModal .tm-right-panel.active {
    display: inline-block;
    width: 60%;
}

#telemedMessagingModal .tm-offline-message {
    width: 100%;
    text-align: center;
    background: #ececec;
    position: relative;
    min-height: 48px;
    padding: 15px;
}

/*delivered message tooltip-popupo css */

#telemedMessagingModal .tmtooltiptext {
    visibility: hidden;
    top: 20px;
    left: 0px;
    display: block;
    width: 250px;
    max-height: 227px;
}

#telemedMessagingModal .show-list:hover + .tmtooltiptext  {
    visibility: visible;
}

#telemedMessagingModal .tmtooltiptext:hover  {
    visibility: visible;
}

#telemedMessagingModal .tmtooltiptext  .arrow  {
    left: 80%;
}

#telemedMessagingModal .tmtooltiptext  .popover-title  {
    display: none;
}

#telemedMessagingModal .tmtooltiptext  .popover-content  {
    padding: 0px;
    overflow-y: auto;
    max-height: 200px;
}

#telemedMessagingModal .tmtooltiptext  .popover-content .form-group  {
    border-bottom: 1px solid #e5e5e5; padding: 5px; margin-bottom:0px;
}

#telemedMessagingModal .tmtooltiptext  .popover-content .form-group .fa-check-circle-o {
    margin: 5px; color: #28a745; font-size: large;
}

#telemedMessagingModal .tmtooltiptext  .popover-content .form-group .fa-times-circle-o{
    margin: 5px; color: #b30000; font-size: large;
}

#telemedMessagingModal .tmtooltiptext  .popover-content .form-group .tm-user-name{
    margin: 5px;
}